body{
    margin:0;
    padding:0;
}
.auth{
    width:520px;
    height:370px;
    background-color:#eee;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius:5px;
    display: flex;
    flex-direction: column;
}
.auth img{
    width:160px;
    position: absolute;
    left:50%;
    top: 23%;
    transform: translate(-50%, -50%);
}
.input{
    position: absolute;
    left:32%;
    top: 55%;
    max-width:250px;
    height:27px;
    border:solid grey 1px;
    border-radius:4px;
}
.input2{
    position: absolute;
    left:32%;
    top: 75%;
    max-width:250px;
    height:27px;
    border:solid grey 1px;
    border-radius:4px;
}
.login{
    font-size:18px;
    position: absolute;
    left:32%;
    top: 49%;
    max-width:250px;
    max-height:20px;
}
.password{
    font-size:18px;
    position: absolute;
    left:32%;
    top: 69%;
    max-width:250px;
    max-height:20px;
}
.button{
    font-size:18px;
    position: absolute;
    left:70%;
    top: 90%;
    width:120px;
    height:30px;
    background-color:#3495eb;
    border-radius:4px;
    border:solid 1px grey;
}
.table{

    margin-left:200px;
   margin-top:100px;
    margin-bottom:100px;
    width:80%;
    text-align: center;
}
.table th,tr,td{
    overflow: hidden;
    border:solid 1px black;
}